/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 30px;
}

.bg-red {
background-color: red;
}

.bg-brown {
    background-color: brown;
}

.bg-skin {
    background-color: #edcfbb;
}

.bg-black {
    background-color: black;;
}

.bg-blue {
    background-color: dodgerblue;
}

.bg-gold {
    background-color: goldenrod;
}
.row {
    height: 40px;
}
